/* Paleta de colores Verde azulado 50 */
:root {
    --primary-color: #34C759;
    --secondary-color: #8BC34A;
    --background-color: #F7F7F7;
    --text-color: #333;
    --font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}